header{
    border-top:2px solid #82b74b;
}
a.logo img {
    max-height: 90px;
}
#submit{
    background-color: #82b74b;
}
.navbar-brand,.navbar-nav{
    margin-left: -16px;
}
.dropdown:hover .dropdown-menu{ /*sổ xuống*/
    display: block;
}
li.nav-item:hover{
    background-color: #1e340c;  /* hover vào các liên kết*/
}
.navbar-brand{
    background-color: #82b74b;/*màu chữ của codepower*/
}
/* link ------------------------------------------------------------------------------*/
h4>a{
    color: #82b74b;
    text-decoration: none;
}
h4>a:hover{
    text-decoration: none;
    color: black;
}
/* dưới image-box*/
.nut{
    display: flex;
    justify-content: end;
}
/*phần ảnh chạy đầu*/
 a.men>img {
    height: 30px;
    width: auto;
    max-width: 100%;
    margin-top: 80px;
}
.dong{
    height: 150px;
}
/*phần ảnh chạy cuối*/
/*hover anh*/
.face2{
    display: none;
}
.dong:hover .face2{
    display: block;
    transform: translateY(-70px);
}
.dong:hover .face1{
    transform: translateY(-70px);
}
/*logo anh cuối*/
center a img{
    height: 70px;
    width: auto;
}
.footerlinks{
    height: 50px;
}
/*----------icon-------------*/
i.fa-chevron-circle-right{
    background-color:white; color: #82b74b; border: #82b74b; border-radius: 50%
}
ul li {
    list-style-type: none;
}
i.fa-check-circle{
    background-color:#82b74b; color: white ; border: white; border-radius: 50%; 
}








/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* slidershow */
.camera_caption{
    color: #555555 ;
    font: 14px "Open Sans", sans-serif;
	margin: 0px 0px 20px;
}

h1{
    color: #fff;
    font: 28px "Open Sans", sans-serif;
    background: #82B74B;
    margin: 10px 22.522px 10px 20px;
    padding: 0px 0px 0px 10px;
    font-size: 32px;
}
span.sub-heading {
    color: #fff;
    font: 14px "Open Sans", sans-serif;
    background: #00000080;
    margin: 0px 0px 0px 22.525px;
    padding: 10px 20px;
}
/* dưới slideshow..................... */
h4 a:hover {
    color: #222;
    text-decoration: none;
}
.su-menh-container {
    padding-right: 20px;
    line-height: 28px;
}
ul.colored-plus{
    list-style-type: none;
}
.su-menh-container p, .su-menh-container li {
    text-align: justify;
}
p {
    margin: 0 0 10px;
}
.chaoMung{
    display: flex;
}
/* iconbox ............................ */
.iconcircle {
    border: 1px solid #82b74b;
    border-radius: 50%;
    height: 82px;
    line-height: 100px;
    margin: 0 auto;
    width: 82px;
}
.iconcircle i{
    color: #82b74b;
    font-size: 40px;
    margin: 20px;
}
.iconcircle i:hover{
    color: #fff;
}
.iconcircle:hover{
    background-color: #82b74b;
}

li.activity {
    background: inherit;
    color: inherit;
    border: inherit;
    text-shadow: none;
    /* padding: 8px; */
    white-space: normal;
    display: block;
    font-size: inherit;
    line-height: inherit;
}
li.activity{
    display: flex;
    width: 800px;
}
a.btn{
    background-color: #82b74b;
    color: #fff;
}

button.fa-play-circle{
    background-color: #82b74b;
}
.iconbox1{
    background-color: #fbfbfb;
}
.iconbox2{
    background-color: #f4f4f4;
}
.row :hover{
    background-color: #efefef;
}





